

.container {
  width: 33%;
  height: 100%;
  background-color: black;
  display: inline-block;
 }


body {
  height: 100%;


  }

#clock {
  color: #ffffff;
  font-size: 200px;
  text-align: center;
  font-family: georgia, sans-serif;
  margin-top: 200px;


}

#box {
  background: linear-gradient(orange, red);

}
