.box1 {
  width: 100%;
  background-color: white;
  height: 25px;
  margin-top: 200px;
  position: fixed;
  z-index: 980;
}

#box2 {
  width: 600px;
  height: 200px;
  position: relative;
  margin-right: auto;
  margin-top: 115px;
  margin-left: auto;
  margin-bottom: 75px;
  z-index: 999;
  background-color: white;
  border-radius: 50%;
}

#box3 {
  width: 400px;
  height: 40px;
  background-color: red;
  color: white;
  margin: 0 auto;
  border-radius: 25%;
  box-shadow: 0px 0px 10px white;
  z-index: 998;
}

h1 {
  text-align: center;
  font-size: 120px;
  padding: 5px;
  color: white;
  font-family: georgia sans-serif;
  display: inline;
  position: relative;
}

#word1 {
  margin-left: 150px;
}

p {
  font-size: 25px;
  text-align: center;
  padding: 5px;
}

#clock {
  color: black;
  font-size: 100px;
  text-align: center;
  font-family: noteworthy, sans-serif;
  margin: 0;
  padding-top: 15px;
}

.hidden {
  display: none;
}
